<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar sticky-top  navbar-expand-lg navbar-dark bg-dark ">
            
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                 {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a class="nav-link text-white " href="{{ path('post_index') }}">Acceuil</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white " href="{{ path('post_new') }}">Publication</a>
                    </li>

                     <li class="nav-item">
                        <a class="nav-link text-white " href="{{ path('users') }}">Profil</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white " href="">Utilisateurs</a>
                    </li>
                {% endif %}
                </ul>
            </div>

            <div >
            
                <ul class="navbar-nav">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                    <li class= "font-italic text-white ml-n5">
                       <span class='mr-5'> Bonjour {{app.user.firstName}} </span> 
                    </li>


                     <li class="nav-item">
                        <a class="nav-link text-white " href="{{ path("app_logout") }}"><i class="fas fa-sign-out-alt fa-2x"></i></a>
                    </li>

                    
                {% else %}
               
                    <li class="nav-item">
                        <a class="nav-link text-white " href="{{ path("app_register") }}">Inscription</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white " href="{{ path("app_login") }}">Connexion</a>
                    </li>
                 {% endif %}
                </ul>

            </div>
        </nav>

   
        {% block body %}{% endblock %}
    </body>
</html>
