{% extends 'base.html.twig' %}

{% block title %}modifier le profil{% endblock %}

{% block body %}

        <div class= 'row container '>
            <div class="p-3 card mt-3 col-sm-4 col-md-4 col-xl-5 bg-light offset-xl-5">
                <div class= 'card header h5 text-center text-primary mb-4'>Modifier votre profil</div>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {% if app.user.avatar is not null %}
                    <div class= 'mb-4 d-flex justify-content-around mt-4'>
                      <img src="{{ asset('/uploads/' ~ app.user.avatar.AvatarName) }}" alt="Image" class='rounded-circle' width="200">
                      <a href="{{ path('profile_delete_avatar', {id: app.user.avatar.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ app.user.avatar.id) }}">Supprimer</a>
                  </div>
                {% endif %}
                  <div class='d-flex justify-content-center'> <button class="btn btn-success">{{ button_label|default('Modifier') }}</button></div> 
                {{ form_end(form) }}

            </div>           
        </div>

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}