{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}

   <div class='row d-flex justify-content-around '>
   
         <div class='card col-sm-3 col-md-3 col-xl-3 bg-light d-flex justify-content-center sticky-top sticky-offset2 '>
              {% if user.id != app.user.id %}
                    <div class= 'h4 text-muted card font-italic mt-2 text-center '>Profil de {{user.firstName}}</div>
              {% endif %}
               

               <div class='pl-1 pr-1 card mt-4 mb-4'>
                       {% if user.avatar is null %}
                             <i class="fas fa-user-circle fa-7x text-center text-muted mt-4 mb-4"></i>
                       {% else %}
                             <div class='d-flex justify-content-center mt-4 mb-3'><img src="{{ asset('/uploads/' ~ user.avatar.avatarName) }}" alt="Image" class='rounded-circle' width="200"> </div> 
                       {% endif %}
                        <p class='text-center h5'>{{user.firstName}} {{user.lastName}}</p>
                        <p class='text-center text-muted'>{{user.alternanceJob}}</p>
                       
               </div>

               <div class='pl-1 pr-1 card  mb-4'>
                        <p class='mt-4 d-flex justify-content-around'> <span class='font-weight-bold'>Nom complet</span> <span class='text-muted'>{{user.firstName}} {{user.lastName}}</span> </p>
                        <p class='mt-4 d-flex justify-content-around'> <span class='font-weight-bold'>Date de naissance</span> <span class='text-muted'>{{user.birthDate|date('d-m-Y')}}</span> </p>
                        <p class='mt-4 d-flex justify-content-around'> <span class='font-weight-bold'>Adresse</span> <span class='text-muted'>{{user.Address}}</span> </p>
                        <p class='mt-4 d-flex justify-content-around'> <span class='font-weight-bold'>Ville</span> <span class='text-muted'>{{user.city}}</span> </p>
                        <p class='mt-4 d-flex justify-content-around'> <span class='font-weight-bold'>Groupe</span> <span class='text-muted'> {{user.groupName.name}} </span> </p>
               </div>

               {% if user.id == app.user.id %}
                     <p class='d-flex justify-content-center'><a class= 'btn btn-outline-success btn-block mt-1' href="{{ path('profil_modifier') }}" >Modifier le profil</a></p>
               {% endif %}
         </div>

         <div class= 'col-sm-5 col-md-4 col-xl-4'>
            {% if user.id == app.user.id %}
                <div class= 'row mt-4 d-flex mb-2 d-flex justify-content-center'>
                     <div class='card col-sm-11 col-md-11 col-xl-11'>
                              {{ include('post/_form.html.twig') }}
                     </div>
                </div>               
            {% endif %}
               
                {% for post in posts %}

                  <div class="row d-flex justify-content-center mt-5 d-flex mb-2">
                        
                              <div class="card col-sm-11 col-md-11 col-xl-11   ">
                                    
                                    <div class="p-3">
                                            {% if post.autheur.avatar is null %}
                                                {% if post.autheur.id == app.user.id %}
                                                     <div class="text-info h5 d-flex justify-content-between"> <div> <img src="{{ asset('/uploads/userDefaut.png') }}" alt="Image" class='rounded-circle mr-3' width="50"> <span> {{post.autheur.firstName}} {{post.autheur.lastName}}</span></div> <div> <a href="{{ path('post_edit', {'id': post.id}) }}"> <i class="fa fa-edit"></i> </a> <i class="fa fa-trash"></i> </div> </div>
                                                {% else %}
                                                  <div class="text-info h5 d-flex justify-content-between"> <div> <img src="{{ asset('/uploads/userDefaut.png') }}" alt="Image" class='rounded-circle mr-3' width="50"> <span> {{post.autheur.firstName}} {{post.autheur.lastName}}</span></div>  </div>
                                                {% endif %}

                                            {% else %}
                                                {% if post.autheur.id == app.user.id %}
                                                     <div class="text-info h5 d-flex justify-content-between"> <div> <img src="{{ asset('/uploads/'~ post.autheur.avatar.avatarName) }}" alt="Image" class='rounded-circle mr-3' width="50"> <span> {{post.autheur.firstName}} {{post.autheur.lastName}}</span> </div>  <div> <a href="{{ path('post_edit', {'id': post.id}) }}"> <i class="fa fa-edit"></i> </a> <i class="fa fa-trash"></i>  </div>   </div>
                                                {% else %}
                                                     <div class="text-info h5 d-flex justify-content-between"> <div> <img src="{{ asset('/uploads/'~ post.autheur.avatar.avatarName) }}" alt="Image" class='rounded-circle mr-3' width="50"> <span> {{post.autheur.firstName}} {{post.autheur.lastName}}</span> </div>     </div>
                                                {% endif %}
                                                
                                            {% endif %}
                                          <div class='d-flex justify-content-between'> <span class='text-danger'>{{post.autheur.groupName.name}}</span>  <span class='font-italic'>{{ post.createdAt|ago(locale='fr') }}</span>  </div> 
                                          <p class= "mt-4 mb-4 text-justify">{{ post.content }} </p>
                                         <div class='row'>
                                                {% for image in post.photo %}
                                                    <div class= 'd-flex justify-content-between mb-2'>
                                                        {% if loop.index % 2 != 0 and loop.index < post.photo|length %}
                                                            <img src="{{ asset('/uploads/' ~ image.photoName) }}" alt="Image" class='rounded float-start' width="200">
                                                            <img src="{{ asset('/uploads/' ~ post.photo[loop.index].photoName) }}" alt="Image" class='rounded float-end' width="200">
                                                        {% endif %}
                                                    </div>
                                                       {% if loop.index % 2 != 0 and loop.index == post.photo|length %}
                                                            <img src="{{ asset('/uploads/' ~ post.photo[post.photo|length - 1].photoName) }}" alt="Image" class='rounded mx-auto d-block' width="200">
                                                       {% endif %}
                                                {% endfor %}
                                          </div>
                                    </div>
                              </div>
                  </div>

                {% endfor %}
         </div>

         <div class='card col-sm-4 col-md-4 col-xl-4 bg-light'>
               <div class= 'h4 text-muted card font-italic mt-2 text-center'>Photos</div>
                {% for post in posts %}

                        <div class='d-flex justify-content-around mt-3'>
                              {% for image in post.photo %}
                                    <div class='mr-2'>
                                          <img src="{{ asset('/uploads/' ~ image.photoName) }}" alt="Image" class="img-thumbnail" width="200">
                                    </div>
                              {% endfor %}
                        </div>
                        
                  {% endfor %}
         </div>

        
   
   </div>

{% endblock %}